$breakpoints: (
    "desktop": 1200px,
    "sm": 992px,
    "tablet": 768px
);

//Paleta 01
$p01-headerbg: #189d79;

$paleta01: ( #f15543, #42b6ab, #db4f70, #9d1b32, #eb8744, #5a5ca2 );

//Paleta 02

$p02-headerbg: #de413a;

$paleta02: ( #5b2d37, #223b5d, #c68f69, #09585d, #909191, #9c9840 );

//Paleta 03

$p03-headerbg: #c90044;

$paleta03: ( #516270, #139b8b, #b26b92, #00749a, #d07b30, #09585d );


//Gray
$gray-darker: #131313;
$gray-dark: #333333;
$gray: #666666;
$gray-light: #999999;
$gray-lighter: #DADADA;

//Tiles

$mag-tile-width: 400px;
$mag-tile-height: 280px;



