@import 'base/variables';
@import 'base/mixins';
@import 'base/base';

@import 'shame';

//Generales

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

body {
	&.mag-template-1 {
		header {
			.navbar-default {
				background-color: $p01-headerbg;
				.navbar-header {
					.navbar-brand-wrapper {
						.navbar-brand {
							background-color: $p01-headerbg;
						}
					}
				}

			}
		}
		.mag-home-note {
			@for $i from 1 to length($paleta01) {
			    &.note-#{$i} {
			    	.note-container {
			    		background-color: nth($paleta01, $i); 
			    	}
			        
			    }
			}
			
		}
		
	}
	&.mag-template-2 {
		header {
			.navbar-default {
				background-color: $p02-headerbg;
				.navbar-header {
					.navbar-brand-wrapper {
						.navbar-brand {
							background-color: $p02-headerbg;
						}
					}
				}
			}
		}
		.mag-home-note {
			@for $i from 1 to length($paleta02) {
			    &.note-#{$i} {
			    	.note-container {
			    		background-color: nth($paleta02, $i); 
			    	}
			        
			    }
			}
			
		}
	}
	&.mag-template-3 {
		header {
			.navbar-default {
				background-color: $p03-headerbg;
				.navbar-header {
					.navbar-brand-wrapper {
						.navbar-brand {
							background-color: $p03-headerbg;
						}
					}
				}
			}
		}
		.mag-home-note {
			@for $i from 1 to length($paleta03) {
			    &.note-#{$i} {
			    	.note-container {
			    		background-color: nth($paleta03, $i); 
			    	}
			        
			    }
			}
			
		}
	}
}


.breadcrumb {
    padding: 5px 0 0 40px;
    margin-bottom: 0;
    margin-top: 40px;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
    font-size: 1.25em;
}

.mag-breadcrumb-divider {
	width: 33%;
	border: 1px solid black;
	display: block;
	position: relative;
	clear: both;
	margin-top: 5px;
	margin-bottom: 45px;
}

//Text

//Images
.img-fullwidth {
	width: 100%;
}


//Header
header {
	.navbar {
		height: 70px;
		margin-bottom: 0px;
		border: none;
	}
	.navbar-default {
		border-radius: 0px;
		background-color: black;

		.navbar-header {
			.navbar-brand-wrapper {
				width: 260px;
				height: 50px;
				.navbar-brand {
					position: absolute;
					z-index: 1;
					max-width: 275px;
					padding: 15px 10px;
					height: 80px; 
					background-color: black;
					box-shadow: 1px 1px 8px #5f5f5f;
					.navbar-brand-img {
						width: 100%;
					}
				}
			}

		}

		ul.navbar-main {
			margin-left: 5px;
			li {
				border-right: 1px solid white; 
				margin-bottom: 14px;
				margin-top: 14px;
				&:last-child {
				    border-right: none;
				}
				a {
					padding: 10px;
					//padding-top: 10px;
					color: white;
					font-size: 12px;
				}
			}
		}

		form.navbar-form {
			margin-bottom: 18px;
			margin-top: 18px;
		}

		ul.navbar-social {
			li {
				margin-bottom: 9px;
				margin-top: 9px;
				
				&.logo-gicsa {
					margin-bottom: 3px;
					margin-top: 3px;
				}

				a {
					padding-left: 10px;
					padding-right: 10px;
				}
			}
		}
	}
}

//Main

main {

	.mag-main-slider {
		width: 100%;
		max-height: 500px;
	}


	.mag-main-content {
		margin-top: 35px;
	}

	.mag-back-bg {
		background-image: url(img/mag-back-bg.jpg);

		.mag-back-text-bg {
			background-color: rgba(255,255,255,.5);
		}
	}
	
	.mag-fotoparrafo {
		margin-bottom: 50px;

		.mag-fotoparrafo-img{
			float: left;
			width: 55%;
		}

		.mag-fotoparrafo-text {
			float: left;
			width: 45%;
			padding: 40px 15px;
		}	
	}
	
	.mag-galeria-img {
		display: block;
	    max-width: 100%;
	    height: auto;
	    margin-bottom: 50px;
	}

	.mag-outfit-main-img {
		margin: auto;
	}

	.mag-mansory-title {
		margin: 30px 0;
	}

	.mag-mansory-img {
		margin-bottom: 40px;
	}

	.mag-texto-slider {
		float: left;
		clear: both;
		margin-right: 30px;
		margin-bottom: 30px;
	}
}

.mag-home-note {
	//float: left;
	color: white;
	font-size: 16px;

	overflow: hidden;
	display: flex;
	

	.note-container {
		float: left;
		padding: 20px 30px;
		//background-color: #f15543;

		ol, ul {
			padding: 1em;
		}
	}

	.note-sharing {

	}

	.note-img {
		float: left;
	}

	/*
	&.note-1 {
		width: 66.65%;
	}
	&.note-2 {
		width: 33.32%;
	}
	&.note-3 {
		width: 66.6%;
	}
	&.note-4 {
		width: 33.32%;
	}
	&.note-5 {
		width: 33.32%;
	}
	&.note-6 {
		width: 66.6%;
	}
	*/
}



section{
	.gicsa-newsletter-bar {
		min-height: 40px;
		padding-top: 5px;
		color: white;

		.gicsa-newsletter-bar-wrapper {
			background-color: $gray-dark;
			height: 35px;
			padding-top: 7px;

			.gicsa-input-xs {
				font-size: 12px;
				background-color: $gray-light;
				border: 1px solid $gray-light;
			}

			.gicsa-btn-xs {
				font-size: 12px;
				color: white;
				min-width: 130px;
				background-color: black;
				border: 1px solid $gray-light;
				border-radius: 0;
				padding-top: 3px;
				padding-bottom: 0px;

				margin-left: 18px;
			}
		}

		.gicsa-appstore-wrapper {
			.gicsa-appstore-icon {
				max-height: 30px;
				padding-top: 2px;
			}

		}
	}
}

//Footer

footer {
	background-color: black;
	min-height: 155px;

	.gicsa-footer-logo{
		margin: 55px 0;
	}

	.gicsa-footer-list{
		margin: 17px 0;
		.gicsa-footer-list-element {
			font-size: 10px;
			color: white;
			padding: 5px 0px;
		}	
	}
	
}


//Margenes

$spacing: 5px;
@include maring-and-padding-spacing($spacing);

@for $i from 1 through 10 {
	.m-top-#{$i} {
		@extend %margin-top-#{$i}x;
	}
	.m-bottom-#{$i} {
		@extend %margin-bottom-#{$i}x;
	}

	.m-vertical-#{$i} {
		@extend %margin-vertical-#{$i}x;
	}
	.m-horizontal-#{$i} {
		@extend %margin-horizontal-#{$i}x;
	}
}










