@import 'base/variables';

.mag-home-note {
	float: left;
	color: white;

	width: 100%;

	.note-container {
		width: 65%;
		float: left;
		padding: 10px;

		h2 {
			font-size: 16px;
			margin-top: 0;
		}

		p {
			font-size: 12px;
		}

		ul, ol {
			li {
				font-size: 12px;
			}
		}
	}

	.note-img {
		width: 35%;
		float: left;
		img {
			width: 100%;
		}
	}

	.note-sharing {
		ul {
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				margin-right: 15px;

				img {
					max-height: 20px;
					width: auto;
				}
			}
		}

		.mag-ver-mas {
			display: block;
			margin-top: 10px;
			font-size: 0.75em;
			color: white;
			text-decoration: underline;
			&:hover {
				color: white;
			}
		}
	}
}

/* Large devices (large desktops, 1200px and up) */
$screen-lg-min: 1200px;
@media (min-width: $screen-lg-min) {
	.mag-home-note {
		font-size: 16px;
		overflow: hidden;

		.note-container {
			width: 100%;
			float: left;
			padding: 20px 20px;

			h2 {
				font-size: 30px;
			}

			p {
				font-size: 17px;
			}

			ol, ul {
				padding: 1em;
				li {
					font-size: 17px;
				}
			}
		}

		.note-img {
			width: 100%;
			float: none;
			
		}

		.note-sharing {
			ul {
				li {
					img {
						max-height: 24px;
					}
				}
			}
		}

		
		&.note-1 {
			width: $mag-tile-width*2;
			height: $mag-tile-width;
			.note-container {
				width: 520px;
				height: 100%;
			}
			.note-img {
				width: 280px;
				float: left;
			}
		}
		&.note-2 {
			width: $mag-tile-width*2;
			height: $mag-tile-height;
			.note-container {
				width: 540px;
				height: 100%;
			}
			.note-img {
				width: 260px;
				float: left;
			}
		}
		&.note-3 {
			width: $mag-tile-width;
			height: 960px;
			.note-container {
				height: 680px;
			}
			.note-img {
				clear: both;
			}
		}
		&.note-4 {
			width: $mag-tile-width;
			height: $mag-tile-height*2;
			.note-container {
				height: 315px;
			}
			.note-img {
				clear: both;
			}
		}
		&.note-5 {
			width: $mag-tile-width;
			height: $mag-tile-height;
			.note-container {
				height: 160px;
			}
			.note-img {
				clear: both;
			}

		}
		&.note-6 {
			width: $mag-tile-width*2;
			height: $mag-tile-height;
			.note-container {
				width: $mag-tile-width;
				height: 100%;
			}
			.note-img {
				width: $mag-tile-width;
				float: left;
			}
		}
		
	}
}